// .Modal {
//     position: absolute;
//     top: 40px;
//     left: 40px;
//     right: 40px;
//     bottom: 40px;
//     background-color: papayawhip;
// }

// .Overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rebeccapurple;
// }

.col {
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    width: 120px;
}

.counter {
    border: 2px solid black;
    span {
        font-size: 6rem;
    }
}

.row {
    justify-content: space-between;
}
