.ReactModal__Content {
    width: 250px;
}

.col {
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    width: 120px;
}

.counter {
    border: 2px solid black;
    span {
        font-size: 6rem;
    }
}

.row {
    justify-content: space-between;
}
